.allRecipesWrapper{
    width: 100%;
    margin-top: 4%;
    display: flex;
    .sideSection{
        width: 25%;
    }
    .cardContainer{
        width: 75%;
        height: 65vh;
        overflow-y: scroll;
        margin-top: 1%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap : 3%
    }
    .nofood{
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headingtext{
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
    .paraText{
        font-size:13px;
        font-weight: 300;
    }
    .searchComp{
        margin-top: 6%;
        width: 90%;
        .searchname{
            color: black;
            font-size: 16px;
            font-weight: 600;
            margin-bottom:4px ;
           }
    }
   
}