.linkNavWrapper{
     display: flex;
     padding: 1% 1%;
     border-top: 1px solid #eae9e7;
     border-bottom: 1px solid #eae9e7;
     justify-content: space-between;
     .containerLinkName{
        display: flex;
        width: 40%;
        justify-content: space-between;
        font-weight: 400;
        font-size: 13px;
     }
     .icons{
        display: flex;
        width: 15%;
        justify-content: space-between;
     }
}